body {
    background-color: rgb(255, 255, 255);
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#video-container {
    width: 100%;
    height: 100%;
}

#my-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#button-container {
    padding-top: 5%;

}

.waitlist-button {
    position: absolute;
    padding-bottom: 0%;
    left: 50%;
    width: 45%;
    transform: translateX(-50%);
    padding: 5px;
    background-image: linear-gradient(to right, #FF3F3D, #FF884A);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 38px;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 3.5;
    cursor: pointer;

}

#h1 {
    font-size: 40px;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #323232;
    padding-left: 5%;
    padding-right: 10%;
    margin-top: 30%;

}

#h2 {
    font-size: 24px;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #323232;
    padding-left: 5%;
    padding-right: 10%;
    margin-top: 15%;

}

#button-container2 {
    padding-top: 10%;

}

.waitlist-button2 {
    left: 50%;
    width: 100%;
    padding: 5px;
    background-image: linear-gradient(to right, #FF3F3D, #FF884A);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 38px;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 3.5;
    cursor: pointer;

}

#SecondDemo {
    background-color: #000000;
    text-align: center;
    font-size: 32px;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #ffffff;
    margin-top: 15%;

}

#SecondDemo h1 {
    padding: 10%;
}

#vidcontainer2 {
    width: 100%;
    height: 100%;
}

#my-video2 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}