body {
    background-color: rgb(255, 255, 255);
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#video-container {
    width: 100%;
    height: 100%;
}

#my-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;

}

.waitlist-button {
    padding-bottom: 0%;
    width: 45%;
    padding: 5px;
    background-image: linear-gradient(to right, #FF3F3D, #FF884A);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 38px;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 3.5;
    cursor: pointer;

}

#FirstPoint-container h1 {
    font-size: 4.5rem;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #323232;
    padding-left: 5%;
    padding-right: 10%;
    margin-top: 10%;

}

#FirstPoint-container p {
    margin-top: 10%;
    font-size: 2rem;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #323232;
    padding-left: 5%;
    padding-right: 10%;

}



#button-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
    padding-bottom: 10%;
}

.waitlist-button2 {
    padding-bottom: 0%;
    width: 45%;
    padding: 5px;
    background-image: linear-gradient(to right, #FF3F3D, #FF884A);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 38px;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 3.5;
    cursor: pointer;

}

#SecondPoint-container {
    background-color: #0f0f0f;
    text-align: center;
    font-size: 2rem;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #ffffff;
    margin-top: 15%;

}

#SecondPoint-container h2 {
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

#vidcontainer2 {
    width: 100%;
    height: 100%;
}

#my-video2 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}

#ThirdPoint-container h2 {
    font-size: 4.5rem;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #323232;
    padding-left: 5%;
    padding-right: 10%;
    margin-top: 5%;
}

#ThirdPoint-container p {
    margin-top: 10%;
    font-size: 2rem;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #323232;
    padding-left: 5%;
    padding-right: 10%;
}


#table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
}


.features {
    border-collapse: collapse;
    font-family: neue-haas-unica, sans-serif;
    font-size: 2em;
    background-color: ba;
}

.features__cell {
    max-width: 100%;
    font-weight: normal;
    padding: 0.5em 1em;
    color: #333333;
    border: 1px solid #acacac;
    line-height: 1.4;
}

.features__cell--bold {
    font-weight: bold;
}

.features__cell--shaded {
    background: #eeeeee;
}

.features__cell--large {
    font-size: 1.25em;
}

.features__cell--center {
    text-align: center;
}

.features__tick::after {
    content: "\2714";
    font-size: 1.5em;
    color: rgb(0, 177, 0);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

.navbar a {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.2rem;
    margin-right: 10%;
    margin-left: 10%;
    color: #000000;
    text-decoration: none;
}