body {
    background-color: rgb(255, 255, 255);
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#video-container {
    width: 100%;
    height: 100%;
}

#my-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-button img {
    width: 20vb; /* Set the width to your desired size */
    height: auto; /* This maintains the aspect ratio */
  }
  
#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;

}



.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-inline: 15%;
}

.navbar a {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    margin-right: 10%;
    margin-left: 10%;
    color: #000000;
    text-decoration: none;
}



/* FAQ.html below this  */
.faq {
    padding-top: 10%;
}

.faq h1 {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    font-style: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5%;

  }

.faq__questions{
    padding-left: 5%;
    padding-right: 10%;
}


.faq__questions h2 {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    justify-content: center;
    align-items: center;


}


.faq__questions p {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-size: 23px;
    font-style: normal;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;


}












